<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafica Comini</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon">
  </head>
  <body>
    <!-- HEADER -->
    <%- include("./partials/header") %>



    <!-- MAIN  # 1 -->
    <div id="home" class="main-banner">
      <div class="info-btn-arrow-container">
        <!-- INFO BANNER -->
        <div class="info-container">
          <span class="title-main">TITLE</span>
          <span>infozodia Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ipsam.
            infozodia Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, ipsam.
            infozodia Lorem ipsuminfozodia Lorem ipsuminfozodia Lorem ipsum
            Velit, ipsam.infozodia Lorem ipsu
          </span>
       </div>    

       <!-- BOTON -->
       <div class="btn-container">
        <a href="#contact">PEDIR PRESUPUESTO</a>
       </div>
       
       <!-- ARROW -->
       <a href="/">
         <div class="arrow-container">
           <a href="#products">
            <i class="fas fa-angle-down"></i>
           </a>
         </div>
       </a>

      </div>

    </div>

    <!-- MAIN  # 2 -->
    
    <div id="products" class="back-products">
      
      <div class="main-cards-container">

        <div class="product-title">
          <span>PRODUCTOS</span>
        </div>

        <div class="main-card-content">
          <div class="product-flex">
              <article id="card-1" class="card grow-card">
                  <img id ="image-1" src="images/caja.jpg" alt="Producto Image">

                  <div id="product-1" class="info-product"> 
                    <div class="text-product"> 
                      <span>Esta es la info del producto 1</span>
                      <span>Información del productazo del productazo del productazo del productazo del productazo del productazo del productazo</span>
                    </div>
                  </div>

                  <div id="arrow-1" class="arrow-container-product">
                    <i id="arrow-icon-1" class="fas fa-angle-down"></i>
                    <button id="view-more-button-1" class="view-more-button">MÁS INFO</button>
                  </div>
              </article>


              <article id="card-2" class="card grow-card">
                <img id ="image-2" src="images/caja.jpg" alt="Producto Image">

                <div id="product-2" class="info-product"> 
                  <div class="text-product"> 
                    <span>Esta es la info del producto 2</span>
                    <span>Información del productazo del productazo del productazo del productazo del productazo del productazo del productazo</span>
                  </div>
                </div>

                <div id="arrow-2" class="arrow-container-product">
                  <i id="arrow-icon-2" class="fas fa-angle-down"></i>
                  <button id="view-more-button-2" class="view-more-button">MÁS INFO</button>
                </div>
            </article>


            <article id="card-3" class="card grow-card">
              <img id ="image-3" src="images/caja.jpg" alt="Producto Image">

              <div id="product-3" class="info-product"> 
                <div class="text-product"> 
                  <span>Esta es la info del producto 3</span>
                  <span>Información del productazo del productazo del productazo del productazo del productazo del productazo del productazo</span>
                </div>
              </div>

              <div id="arrow-3" class="arrow-container-product">
                <i id="arrow-icon-3" class="fas fa-angle-down"></i>
                <button id="view-more-button-3" class="view-more-button">MÁS INFO</button>
              </div>
            </article>

            <article id="card-4" class="card grow-card">
              <img id ="image-4" src="images/caja.jpg" alt="Producto Image">

              <div id="product-4" class="info-product"> 
                <div class="text-product"> 
                  <span>Esta es la info del producto 4</span>
                  <span>Información del productazo del productazo del productazo del productazo del productazo del productazo del productazo</span>
                </div>
              </div>

              <div id="arrow-4" class="arrow-container-product">
                <i id="arrow-icon-4" class="fas fa-angle-down"></i>
                <button id="view-more-button-4" class="view-more-button">MÁS INFO</button>
              </div>
            </article>

          </div>
        </div>
      </div>
    </div>
    <!-- MAIN  # 3 -->
    
    <div class="back-about-us">
      <div id="about-us" class="info-us-container">
          <div class="title-about-us">
            <span>¿Quiénes somos?</span>
          </div>
          <div class="about-us-content">
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eius!Lorem ipsum dolor sit, amet consectetur adi
            </span>
          </div>
      </div>
    </div>

    <!-- MAIN  # 4 -->

    <div id="clients" class="clients-container">
      <div class="clients-title">
        <span>CLIENTES</span>
      </div>  
      <div class="clients-content">
        <div class="logo-client-container">
          <div class="img-client-content"> 
            <img src="images/clients/colegio-escribanos.svg" alt="Cliente 1">
          </div>
        </div>

        <div class="logo-client-container">
          <div class="img-client-content">
          <img src="images/clients/fbd.svg" alt="Cliente 2">
          </div>
        </div>

        <div class="logo-client-container">
          <div class="img-client-content">
          <img src="images/clients/nardiherrero.svg" alt="Cliente 3">
          </div>
        </div>

        <div class="logo-client-container">
          <div class="img-client-content">
          <img src="images/clients/wiener.svg" alt="Cliente 4">
          </div>
        </div>
      </div>

    </div>
    
    <!-- MAIN  # 5 -->

    <div id="contact" class="contact-container">
      
        <span>CONTACTO</span>

      <div class="contact-content">
        
        <form id="form" action="/" method="POST">

          <label for="nombre">Nombre</label>
            <input id="name" type="text" name="name" placeholder="Juan"> 
          <span id="name_error"  class="error"> 
            <%= locals && locals.errors && locals.errors.name && locals.errors.name.msg %> 
          </span>

          <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="juangonzalez@gmail.com" >
          <span id="email_error"  class="error"> 
            <%= locals && locals.errors && locals.errors.email && locals.errors.email.msg %> 
          </span> 
          
          <label for="phone">Teléfono</label>
            <input type="phone" name="phone" id="phone" placeholder="341 660011">
          <span id="phone_error"  class="error"> 
            <%= locals && locals.errors && locals.errors.phone && locals.errors.phone.msg %> 
          </span>   
          
          <label for="mensaje">Mensaje</label> 
          <textarea name="message" id="message" cols="30" rows="10" ></textarea> 

          <span id="message_error"  class="error"> 
            <%= locals && locals.errors && locals.errors.message && locals.errors.message.msg %> 
          </span>   
          
          <button type="submit">ENVIAR</button>
          </form>

      </div>

    </div>


    <!--FOOTER -->
    <%- include("./partials/footer") %>

    <script src="javascripts/validation-form.js"></script>

  </body>
</html>
